<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        form {
            border: 3px solid #f1f1f1;
            width: 420px;
            margin: 0 auto;
        }

        input[type=text],
        input[type=password] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }

        button {
            background-color: #4CAF50;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
        }

        button:hover {
            opacity: 0.8;
        }

        .cancelbtn {
            width: auto;
            padding: 10px 18px;
            background-color: #f44336;
        }

        .imgcontainer {
            text-align: center;
            margin: 24px 0 12px 0;
        }

        img.avatar {
            width: 100px;
            border-radius: 100px;
        }

        .container {
            padding: 16px;
        }

        span.psw {
            float: right;
            padding-top: 16px;
        }

        #failureMessage {
            font-size: 18px;
            color: red;
        }


        /* Change styles for span and cancel button on extra small screens */
        @media screen and (max-width: 300px) {
            span.psw {
                display: block;
                float: none;
            }

            .cancelbtn {
                width: 100%;
            }
        }
    </style>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $( "input" ).on( "click", function() {
            var radioValue = $("input[name='userTypeId']:checked").val();
            console.log("hiiiiiiiiiiiiii", radioValue, typeof(radioValue))
            switch (radioValue) {
                case "1":
                    $("#farmer").show();
                    $("#government").hide();
                    $("#veteraniaran").hide();
                    $("#dairy").hide();
                    break;
                case "2":
                    $("#farmer").hide();
                    $("#government").hide();
                    $("#veteraniaran").hide();
                    $("#dairy").show();
                    break;
                case "3":
                    $("#farmer").hide();
                    $("#government").hide();
                    $("#veteraniaran").show();
                    $("#dairy").hide();
                    break;
                case "4": $("#farmer").hide();
                    $("#government").show();
                    $("#veteraniaran").hide();
                    $("#dairy").hide();
                    break;
            }
            });
        });
    </script>

</head>

<body>



    <form action="/user/register" method="POST">


        <div class="imgcontainer">
            <img src="/img_avatar2.png" alt="Avatar" class="avatar">
        </div>


        <div class='radio'>
            Farmer<input type="radio" name="userTypeId" value=1 checked>
            Veteraniaran<input type="radio" name="userTypeId" value=3>
            Dairy Company<input type="radio" name="userTypeId" value=2>
            Government<input type="radio" name="userTypeId" value=4>
        </div>

{{!-- Farmer --}}
        <div class="container" id="farmer">
            <label for="uid"><b>UID</b></label>
            <input type="text" placeholder="Enter UID" name="UID" required>

            <label for="firstName"><b>First Name: </b></label>
            <input type="text" placeholder="Enter The First Name" name="first_name" required>

            <label for="lastName"><b>Last Name: </b></label>
            <input type="text" placeholder="Enter The Last Name" name="last_name" required>

            <label for="birthDate"><b>Birth Date: </b></label>
            <input type="text" placeholder="Enter The Birth Date" name="birth_date" required>

            <label for="address"><b>Address: </b></label>
            <input type="text" placeholder="Enter The Address" name="address_line" required>

            <label for="state"><b>State: </b></label>
            <input type="text" placeholder="Enter The State" name="state" required>

            <label for="district"><b>District: </b></label>
            <input type="text" placeholder="Enter The District" name="district" required>

            <label for="village"><b>Village: </b></label>
            <input type="text" placeholder="Enter The Village" name="village" required>

            <label for="uname"><b>Email</b></label>
            <input type="text" placeholder="Enter Username" name="username" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" required>

            <button type="submit">Register</button>
            <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
        </div>
{{!-- Government --}}
        <div class="container" id="government" hidden>
    <label for="firstName"><b>First Name: </b></label>
            <input type="text" placeholder="Enter The First Name" name="first_name" required>

            <label for="lastName"><b>Last Name: </b></label>
            <input type="text" placeholder="Enter The Last Name" name="last_name" required>

            <label for="govOrgName"><b>Gov Org Name: </b></label>
            <input type="text" placeholder="Enter The Org Name" name="gov_org_name" required>

            <label for="contact"><b>Contact: </b></label>
            <input type="text" placeholder="Enter The Contact" name="contact" required>

            <label for="address"><b>Address: </b></label>
            <input type="text" placeholder="Enter The Address" name="address_line" required>

            <label for="state"><b>State: </b></label>
            <input type="text" placeholder="Enter The State" name="state" required>

            <label for="district"><b>District: </b></label>
            <input type="text" placeholder="Enter The District" name="district" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" required>

            <button type="submit">Register</button>
            <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
        </div>
{{!-- Dairy --}}
        <div class="container" id="dairy" hidden>
            <label for="orgName"><b>Org Name:</b></label>
            <input type="text" placeholder="Enter Org Name: " name="org_name" required>

            <label for="firstName"><b>First Name: </b></label>
            <input type="text" placeholder="Enter The First Name" name="first_name" required>

            <label for="lastName"><b>Last Name: </b></label>
            <input type="text" placeholder="Enter The Last Name" name="last_name" required>

            <label for="address"><b>Address: </b></label>
            <input type="text" placeholder="Enter The Address" name="address_line" required>

            <label for="state"><b>State: </b></label>
            <input type="text" placeholder="Enter The State" name="state" required>

            <label for="district"><b>District: </b></label>
            <input type="text" placeholder="Enter The District" name="district" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" required>

            <button type="submit">Register</button>
            <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
        </div>
{{!-- veteraniaran --}}
        <div class="container" id="veteraniaran" hidden>
                <label for="uid"><b>UID</b></label>
            <input type="text" placeholder="Enter UID" name="UID" required>

            <label for="firstName"><b>First Name: </b></label>
            <input type="text" placeholder="Enter The First Name" name="first_name" required>

            <label for="lastName"><b>Last Name: </b></label>
            <input type="text" placeholder="Enter The Last Name" name="last_name" required>

            <label for="birthDate"><b>Birth Date: </b></label>
            <input type="text" placeholder="Enter The Birth Date" name="birth_date" required>

             <label for="doctorId"><b>Reg No: </b></label>
            <input type="text" placeholder="Enter The Registration Number: " name="doctor_id" required>

            <label for="address"><b>Address: </b></label>
            <input type="text" placeholder="Enter The Address" name="address_line" required>

            <label for="state"><b>State: </b></label>
            <input type="text" placeholder="Enter The State" name="state" required>

            <label for="district"><b>District: </b></label>
            <input type="text" placeholder="Enter The District" name="district" required>

            <label for="village"><b>Village: </b></label>
            <input type="text" placeholder="Enter The Village" name="village" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" required>

            <button type="submit">Register</button>
            <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
        </div>





        <div class="container" style="background-color:#f1f1f1">
            <button type="button" class="cancelbtn">Cancel</button>
            <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
    </form>
    <label id="failureMessage"> {{error}}</label>
</body>

</html>