<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>

    <center>
        <h3 id="centerDiv">Add Cattle</h3>
    </center>
    <label id="failureMessage"> {{error}}</label>
    <div class="container" id="FormBox">
        <form method="post" action="/api/addcattle">

            <div>
                <label for="UID">UID:</label>
                <input type="text" id="UID" name="UID">
            </div>

            <div>
                <label for="birthDate">Birth Date:</label>
                <input type="date" id="birthDate" name="birth_date">
            </div>

            <div>
                <label for="sex">Sex:</label>
                <input type="text" id="sex" name="sex">
            </div>

            <div>
                <label for="breed">Breed:</label>
                <input type="text" id="breed" name="breed">
            </div>

            <div>
                <label for="parents">Parents:</label>
                <input type="text" id="parents" name="parents">
            </div>
            
            <div>
                <label for="type">Type:</label>
                <input type="text" id="type" name="type">
            </div>

            <div>
                <label for="color">Color:</label>
                <input type="text" id="color" name="color">
            </div>
            
            <div>
                <label for="birthWeight">Birth Weight:</label>
                <input type="text" id="birthWeight" name="birth_weight">
            </div>
            
            <div>
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>
    <script type="text/javascript" src="../../jquery-1.3.2.min.js"></script>

    {{!-- <script type="text/javascript">

        $(document).ready(function () {

            var counter = 2;

            $("#addButton").click(function () {

                if (counter > 10) {
                    alert("Only 10 textboxes allow");
                    return false;
                }

                var newTextBoxDiv = $(document.createElement('div'))
                    .attr("id", 'TextBoxDiv' + counter);

                newTextBoxDiv.after().html('<label>Child #' + counter + ' : </label>' +
                    '<input type="textarea" name="child' + counter +
                    '" id="child' + counter + 'placeholder="Instruction for child.." style="height:100px; width: 100%"' + '" value="" >');

                newTextBoxDiv.appendTo("#TextBoxesGroup");


                counter++;
            });

            $("#removeButton").click(function () {
                if (counter == 1) {
                    alert("No more textbox to remove");
                    return false;
                }

                counter--;

                $("#TextBoxDiv" + counter).remove();

            });

        }); --}}
    </script>
</body>

</html>